.container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.innerContainer {
    width: 95%;
    background-color: white;
    margin-top: 2rem;
    border-radius: 25px;
    gap: 1rem;
    box-shadow: 50px 50px 50px 50px rgba(0, 0, 0, 0.1);
}

.imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.imageRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.image {
    width: 50%;
    aspect-ratio: 16/9;
    border-radius: 25px;
    object-fit: cover;
    cursor: pointer;
}

.image {
    width: 50%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    border-radius: 1rem;
}


.viewMore {
    width: 50%;
    aspect-ratio: 16/9;
    border-radius: 25px;
    border-color: #258EFF;
    border-width: 5px;
    background-color: #E6F2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

.viewMoreText {
    color: #0061C9;
    font-size: 1.6rem;
    flex-direction: column;
    display: flex;
    text-align: left;
    font-weight: bolder;
}


@media (max-width: 1200px) {
    .container {
        width: 80%;
    }
}


@media (max-width: 800px) {
    
   .imageContainer {
        padding: 1.5rem;
   } 
}

@media (max-width: 700px) {
    .viewMoreText {
        font-size: 1.2rem;
        
    }
}


@media (max-width: 550px) {
    .imageContainer {
        padding: 1.1rem;
    }
    .viewMoreText {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .container {
        width: 90%;
    }
    .viewMore {
        border-width: 2px;
    }
    .viewMoreText {
        font-size: 0.9rem;
    }

}