@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');
.outerBox {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.innerBox {
    width: 50%;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.headerBox {
    background: linear-gradient(to right, #007BFF, #2F8EFF);
    padding: 10px;
    width: 100%;
    border-radius: 50px 25px 0 50px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.2);

}

.heading {
    color: #00458E;
}

.logo {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 100px;
}

.contentBox {
    background: linear-gradient(to right, #007BFF, #2F8EFF);
    width: 95%;
    border-radius: 0 0 12px 12px;
}

.content {
    background-color: #459FFF;
    margin: 20px;
    border-radius: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contentText {
    font-family: 'Lemonada', cursive;
    color: white;
    font-size: 70px;
    text-align: center;
    font-weight: 700;
}

.contentSubText {
    font-family: 'Inter', cursive;
    color: white;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    font-weight: 100;
}